<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="AssemblyName" value="AutoGen.dll"/>
    <add key="DtoAssembly" value="Etoimik.Web.Dto"/>
    <add key="XsdSearchPath" value="."/>
    <add key="AssemblyNamespace" value="Etoimik.AutoGen"/>
  </appSettings>
</configuration>
