<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="DtoAssemblies" type="XsdTool.Configuration.ConfigSectionHandler, XsdTool"/>
  </configSections>
  <appSettings>
    <add key="AssemblyName" value="AutoGen.dll"/>
    <add key="AssemblyNamespace" value="Etoimik.AutoGen"/>
    <add key="XsdSearchPath" value="Schemas"/>
  </appSettings>
  <DtoAssemblies>
    <assembly>Etoimik.Web.Dto</assembly>
    <probingPath>C:\Etoimik\src\Etoimik.WebSite\Bin</probingPath>
  </DtoAssemblies>
</configuration>
