<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="DtoAssemblies" type="XsdTool.Configuration.ConfigSectionHandler, XsdTool"/>
  </configSections>
  <appSettings>
    <add key="AssemblyName" value="AutoGen.dll"/>
    <add key="AssemblyNamespace" value="Etoimik.AutoGen"/>
    <add key="XsdSearchPath" value="Schemas"/>
  </appSettings>
  <DtoAssemblies>
    <assembly>Etoimik.Web</assembly>
    <probingPath>C:\Etoimik\src\Etoimik.WebSite\Bin</probingPath>
    <xmlNamespace>http://producers.etoimik.xtee.riik.ee/producer/etoimik</xmlNamespace>
    <assemblyNamespaces>
      <string>Etoimik.Web.Dto</string>
      <string>Etoimik.Web.Dto.Karistusregister</string>
      <string>Etoimik.Web.Dto.KOLA</string>
      <string>Etoimik.Web.Dto.Otsing</string>
      <string>Etoimik.Web.Dto.Otsing.KOLA</string>
      <string>Etoimik.Web.Dto.Teavitused</string>
    </assemblyNamespaces>
  </DtoAssemblies>
</configuration>
